<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rreport for Performance Test</title>
        <script src="Chart.js"></script>
        <link rel="stylesheet" type="text/css" href="github.css">
    </head>
    <body>
        <div class="container">
            <div id="markup">
                <article id="content" class="markdown-body">
                    <div class="document">
                        <div class="section" id="test-case">
                            <h1>STRESS TEST REPORT</h1>
                            <div class="section" id="test-parameter">
                                <h2>TEST PARAMETER:</h2>
                                <pre class="codehilite"><a href="${json_file}">${json_file}</a></pre>
                                <pre class="codehilite">${test_content}</pre>
                            </div>
                            <div class="section" id="test-result">
                                <h2>TEST RESULT:</h2>
                                <pre class="codehilite">${test_result}</pre>
                                <pre class="codehilite">${result_details}</pre>
                                <pre class="codehilite">${error_codes}</pre>
                                <pre class="codehilite">${latency_distribution}</pre>
                                <pre class="codehilite">${requests_frequency}
                                    <canvas id="rpsChart" width="400" height="400"></canvas>
                                    <script>var rpsCtx = document.getElementById("rpsChart").getContext('2d');</script>
                                </pre>
                                <pre class="codehilite">Latency Bar Chat
                                    <canvas id="latencyChart" width="400" height="400"></canvas>
                                    <script>var latencyCtx = document.getElementById("latencyChart").getContext('2d');</script>
                                </pre>
                                <table border="1" class="docutils">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="12%" />
                                        <col width="7%" />
                                        <col width="7%" />
                                        <col width="7%" />
                                        <col width="7%" />
                                        <col width="10%" />
                                        <col width="7%" />
                                        <col width="7%" />
                                        <col width="7%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <thead valign="bottom">
                                        <tr><th class="head" rowspan="2">并发数</th>
                                            <th class="head" rowspan="2">压力时间</th>
                                            <th class="head" rowspan="2">吞吐率</th>
                                            <th class="head" rowspan="2">RPS</th>
                                            <th class="head" colspan="4">响应时间</th>
                                            <th class="head" colspan="4">线程请求频率 (req/s) </th>
                                        </tr>
                                        <tr><th class="head">avg</th>
                                            <th class="head">max</th>
                                            <th class="head">stdev</th>
                                            <th class="head">+/-stdev</th>
                                            <th class="head">avg</th>
                                            <th class="head">max</th>
                                            <th class="head">stdev</th>
                                            <th class="head">+/-stdev</th>
                                        </tr>
                                    </thead>
                                    <tbody valign="top">
                                        <tr><td>${concurrency}</td>
                                            <td>${duration}</td>
                                            <td>${tps}</td>
                                            <td>${rps}</td>
                                            <td>${latency_avg}</td>
                                            <td>${latency_max}</td>
                                            <td>${latency_stdev}</td>
                                            <td>${latency_PorNstdev}</td>
                                            <td>${rps_avg}</td>
                                            <td>${rps_max}</td>
                                            <td>${rps_stdev}</td>
                                            <td>${rps_PorNstdev}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </body>
    <script type="text/x-omnimarkup-config">
window.App.Context = {
          buffer_id: 76,
                timestamp: '1529398978.38716',
                      revivable_key: 'QzpcVXNlcnNcemhhb2dxXERlc2t0b3BcbG9nLnJzdA=='
                          };
                              window.App.Options = {
                                    ajax_polling_interval: 500,
                                          mathjax_enabled: false
                                              };
    </script>
    <script>
    var latencyChart = new Chart(latencyCtx, {
        type: 'bar',
        data: {
            ${latency_chat_label},
            datasets: [
            {
                label: 'Bar1 Dataset',
                ${latency_chat_data},
                borderWidth: 1,
                type: "bar",
                borderColor: '#0000FF',
                backgroundColor: '#00FFFF',
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'requests num'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'time'
                    }
                }]
            }
        }
    });
    </script>
    <script>
    var rpsChart = new Chart(rpsCtx, {
        type: 'line',
        data: {
            ${rps_chat_label},
            datasets: [{
                ${rps_chat_data},
                "fill":false,
                borderWidth: 1,
                borderColor: '#0000FF',
                backgroundColor: '#00FFFF',
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'req/s'
                    },
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'second'
                    }
                }]
            }
        }
    });
    </script>
    <script type="text/javascript" src="/public/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/public/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/public/app.js"></script>
</html>

